---
page_link_name: "Overview"
page_sidebar_widgets:
  - |
    **Course Information**
    
    Foobar
---
%h1
	Fall Semester Plan

:markdown
	* Session C Classes Start: 08/22/2013
	* Session B Classes Start: 10/16/2013
	* Classes End: 12/06/2013
	* Grades Due: 12/12/2013

%h2 Writing Goals

:markdown
	* SLSA Paper, Finished Before 10/5
	* WSRL Paper, Finished Before 10/25
	* Teilhard's Menagerie Paper
	* Outline for _Inhumanism_.

/ Or, dynamically generate your syllabus:
%h2 Writing Plan
.syllabus
	= begin_syllabus
	- # Dates can also be in mm/dd/yyyy format (but not dd/mm/yyyy)
	- start_day("Aug 22 2013")

	- class_meets_on("Monday")
	- class_meets_on("Tuesday")
	- class_meets_on("Wednesday")
	- class_meets_on("Thursday")
	- class_meets_on("Friday")
	- class_meets_on("Saturday")
	- class_meets_on("Sunday")

	- #holiday("Oct 12 2013", "Fall Break")
	- #holiday("Oct 13 2013", "Fall Break")
	- #holiday("Oct 14 2013", "Fall Break")
	- #holiday("Oct 15 2013", "Fall Break")
	- #holiday("Nov 11 2013", "Veteran's Day")
	- #holiday("Nov 28 2013", "Thanksgiving")
	- #holiday("Nov 29 2013", "Thanksgiving")
	
	/ Week 1
	= class_day("#### Teaching\n\n* Syllabus Introduction\n* Course Background / Overview\n* The Great American Novel\n\n#### Reading\n\n* _Lovecraft Letters, v. 1_")
	= class_day("#### Work\n\n* Finish _Frankenstein_ Syllabus.\n* Update _Frankenstein_ Work Schedule\n\n#### Reading\n\n* _Lovecraft Letters, v. 1_")
	= class_day("#### Writing\n\n* _Blog_: Finish Kowloon Walled City\n\n#### Reading\n\n* _Lovecraft Letters, v. 1_")
	
	/ Week 2
	= class_day("\n\n#### Reading\n\n* _Sense & Sensibility_")
	= class_day("#### Reading\n\n* _Scarlet Letter_, Introduction & Chapters 1-7")
	= class_day("#### Teaching\n\n*  _ENG 337_: _Scarlet Letter_, Introduction & Chapters 1-7")
	= class_day("#### Reading\n\n* _Scarlet Letter_, Introduction & Chapters 8-16\n* _Lovecraft Letters, v. 2_")
	= class_day("#### Teaching\n\n*  _ENG 337_: _Scarlet Letter_, Chapters 8-16\n\n#### Reading\n\n* _Lovecraft Letters, v. 2_")
	= class_day("**_Moving Prep_**")
	= class_day("**_Moving_ / Football**")
	
	/ Week 3
	= class_day("#### Reading\n\n* _Lovecraft Letters, v. 2_")
	= class_day("#### Reading\n\n* Finish _Scarlet Letter_\n* _Lovecraft Letters, v. 2_")
	= class_day("#### Teaching\n\n*  _ENG 337_: _Scarlet Letter_, Finish\n* Find Excerpts for:\n\t* _A Vindication of the Rights of Women_ by Mary Wollstonecraft\n\t* _Enquiry Concerning Political Justice and its Influence on Morals and Happiness_ by William Godwin\n\t* Email Ron?\n\n#### Reading\n\n* _Lovecraft Letters, v. 2_")
	= class_day("#### Reading\n\n* Read \"Batleby the Scrivener\"\n* _Lovecraft Letters, v. 2_")
	= class_day("#### Teaching\n\n*  _ENG 337_: \"Bartleby the Scrivener\", All\n\n#### Reading\n\n* _Lovecraft Letters, v. 2_")
	= class_day("#### Reading\n\n* _Lovecraft Letters, v. 2_")
	= class_day("**Football**\n\n#### Writing\n\n* Blog Post: ")
	
	/ Week 4
	= class_day("#### Reading\n\n* _Lovecraft Letters, v. 2_")
	= class_day("#### Reading\n\n*  _ENG 337_: _The Adventures of Huckleberry Finn_, Chapters 1-11\n* _Lovecraft Letters, v. 2_")
	= class_day("#### Teaching\n\n*  _ENG 337_: _The Adventures of Huckleberry Finn_, Chapters 1-11\n\n#### Reading\n\n* _Lovecraft Letters, v. 2_")
	= class_day("#### Reading\n\n*  _ENG 337_: _The Adventures of Huckleberry Finn_, Chapters 12-22\n\n#### Writing\n\n* SLSA Paper")
	= class_day("#### Teaching\n\n*  _ENG 337_: _The Adventures of Huckleberry Finn_, Chapters 12-22")
	= class_day("#### Writing\n\n* SLSA Paper\n\n#### Reading\n\n* Air Conditioning Books")
	= class_day("**Football**\n\n#### Writing\n\n* Blog Post: ")
	
	/ Week 5
	= class_day("#### Writing\n\n* SLSA Paper\n\n#### Reading\n\n* Air Conditioning Books")
	= class_day("#### Writing\n\n* Finish SLSA Paper\n\n#### Reading\n\n*  _ENG 337_: _The Adventures of Huckleberry Finn_, Chapters 23-33\n* Air Conditioning Books")
	= class_day("#### Teaching\n\n*  _ENG 337_: _The Adventures of Huckleberry Finn_, Chapters 23-33")
	= class_day("#### Writing\n\n* WSRL Paper\n\n#### Reading\n\n*  _ENG 337_: _The Adventures of Huckleberry Finn_, Finish")
	= class_day("#### Teaching\n\n*  _ENG 337_: _The Adventures of Huckleberry Finn_, Finish")
	= class_day("#### Writing\n\n* WSRL Paper\n\n")
	= class_day("**Football**\n\n#### Writing\n\n* Blog Post: ")
	
	/ Week 6
	= class_day("#### Reading\n\n* _When Species Meet_")
	= class_day("#### Reading\n\n*  _ENG 337_: _Daisy Miller_, All\n* _When Species Meet_")
	= class_day("#### Teaching\n\n*  _ENG 337_: _Daisy Miller_, All\n\n#### Reading\n\n* _When Species Meet_")
	= class_day("#### Grading\n\n*  _ENG 337_: Assignment #1\n\n#### Reading\n\n*  _ENG 337_: _The House of Mirth_, Book One, Chapters 1-7")
	= class_day("#### Teaching\n\n*  _ENG 337_: _The House of Mirth_, Book One, Chapters 1-7\n\n#### Writing\n\n* Find Haraway ASU Talk")
	= class_day("#### Writing\n\n* Outline Teilhard Menagerie")
	= class_day("**Football**\n\n#### Writing\n\n* Blog Post: ")
	
	/ Week 7
	= class_day("#### Writing\n\n* Teilhard Menagerie")
	= class_day("#### Writing\n\n* Teilhard Menagerie\n\n#### Reading\n\n*  _ENG 337_: _The House of Mirth_, Book One, Chapters 8-15")
	= class_day("#### Teaching\n\n*  _ENG 337_: _The House of Mirth_, Book One, Chapters 8-15")
	= class_day("#### Reading\n\n*  _ENG 337_: _The House of Mirth_, Book Two, Chapters 1-7")
	= class_day("#### Travel\n\n* SLSA, Fly to South Bend\n\n#### Teaching\n\n*  _ENG 337_: _The House of Mirth_, Book Two, Chapters 1-7")
	= class_day("#### Travel\n\n* SLSA, Full Day in South Bend ")
	= class_day("#### Travel\n\n* SLSA, Full Day in South Bend\n* Present at 4pm")
	
	/ Week 8
	= class_day("#### Travel\n\n* SLSA, Morning at Conference; Evening Travel Home")
	= class_day("#### Writing\n\n* Teilhard Menagerie\n\n#### Reading\n\n*  _ENG 337_: _The House of Mirth_, Finish")
	= class_day("#### Teaching\n\n*  _ENG 337_: _The House of Mirth_, Finish\n\n#### Reading\n\n* _ENG 245_: _Frankenstein_")
	= class_day("#### Writing\n\n* Teilhard Menagerie\n\n#### Reading\n\n*  _ENG 337_: _My ﾃ］tonia_, Book 1")
	= class_day("#### Teaching\n\n*  _ENG 337_: _My ﾃ］tonia_, Book 1\n\n#### Reading\n\n* _ENG 245_: _Frankenstein_")
	= class_day("#### Writing\n\n* Teilhard Menagerie\n\n#### Reading\n\n* _Frankenstein_\n\n#### Podcast\n\n* Frankenstein Overview\n* Frankenstein 1")
	= class_day("**Fall Break**\n\n**Football**\n\n#### Writing\n\n* Blog Post: ")
	
	/ Week 9
	= class_day("**Fall Break**\n\n#### Writing\n\n* Teilhard Menagerie\n\n#### Reading\n\n* _ENG 245_: From _A Vindication of the Rights of Women_ by Mary Wollstonecraft\n* _ENG 245_: From _Enquiry Concerning Political Justice and its Influence on Morals and Happiness_ by William Godwin\n* _ENG 245_: \"Outlines of a View of Galvanism\" by Sir Humphry Davy\n\n#### Podcast\n\n* Course Overview\n* Unit 1 Overview\n* Frankenstein Overview\n* Frankenstein 2, 3") #
	= class_day("**Fall Break**\n\n#### Writing\n\n* Teilhard Menagerie\n\n#### Reading\n\n* _ENG 245_: \"Spontaneous Vitality of Microscopic Animals,\" From _The Temple of Nature_ by Erasmus Darwin\n* _ENG 245_: \"Mary Shelley and the Power of Contemporary Science\" by Richard Holmes\n* _ENG 245_: \"Frankenstein and Radical Science\" by Marilyn Butler\n\n#### Podcast\n\n* Mary Wollstonecraft\n* William Godwin\n* Sir Humphry Davy")
	= class_day("**Fall Break**\n\n#### Writing\n\n* Finish Teilhard Menagerie\n\n#### Reading\n\n* _ENG 245_: Percy Bysshe Shelly\n* _ENG 245_: Lord Byron\n\n#### Podcast\n\n* Erasmus Darwin")
	= class_day("**_ENG 245 Starts_**\n\n#### Reading\n\n*  _ENG 337_: _My ﾃ］tonia_, Finish\n\n#### Writing\n\n* _Inhumanism_ Outline\n\n#### Podcast\n\n* Percy Bysshe Shelly\n* Lord Byron")
	= class_day("#### Teaching\n\n*  _ENG 337_: _My ﾃ］tonia_, Finish\n\n#### Reading\n\n* _ENG 245_: [\"Blast from the Past\"](http://www.smithsonianmag.com/history-archaeology/blast.html)\n* _ENG 245_: [\"Tambora, Indonesian Volcano\"](http://web.archive.org/web/20060615181454/http://indodigest.com/indonesia-special-article-19.html)\n* _ENG 245_: [\"The Year without a Summer\"](http://www.bellrock.org.uk/misc/misc_year.htm)\n* _ENG 245_: \"The Composition of _Frankenstein_\" by M.K. Joseph")
	= class_day("#### Writing\n\n* _Inhumanism_ Outline\n\n#### Reading\n\n* _ENG 245_: _The Vampyre_\n\n#### Podcast\n\n* Unit 2 Overview")
	= class_day("**Football**\n\n#### Writing\n\n* Blog Post: ")
	
	/ Week 10
	= class_day("#### Writing\n\n* _Inhumanism_ Outline\n\n#### Reading\n\n* _ENG 245_: _The Vampyre_\n\n#### Podcasts\n\n* _The Vampyre_\n* Unit 3 Overview")
	= class_day("#### Writing\n\n* _Inhumanism_ Outline\n\n#### Reading\n\n*  _ENG 337_: _Great Gatsby_, Chapters 1-3")
	= class_day("#### Teaching\n\n*  _ENG 337_: _Great Gatsby_, Chapters 1-3\n\n#### Reading\n\n* _ENG 245_: [_Presumption; or, the Fate of Frankenstein_](http://www.rc.umd.edu/editions/peake/toc.html) by Richard Brinsley Peake")
	= class_day("#### Reading\n\n*  _ENG 337_: _Great Gatsby_, Chapters 4-6\n\n#### Podcasts\n\n* Richard Brinsley Peake\n* Unit 4 Overview")
	= class_day("#### Travel\n\n* WSRL, Fly to Salt Lake City (4:56PM)\n\n#### Teaching\n\n*  _ENG 337_: _Great Gatsby_, Chapters 4-6\n\n#### Reading\n\n* _ENG 245_: Reception, Impact, Adaptation in Norton (pp. 213-270)")
	= class_day("#### Travel\n\n* WSRL, Full Day")
	= class_day("#### Travel\n\n* WSRL, Leave at 5:10")
	
	/ Week 11
	= class_day("#### Reading\n\n* _ENG 245_: _Frankenstein_ Viewing\n* \"Approaches to Frankenstein [in Film]\" by David Pirie\n\n#### Podcasts\n\n* J Searle Dawley\n* James Whale\n* Mel Brooks\n* _X-Files_")
	= class_day("#### Reading\n\n*  _ENG 337_: _Great Gatsby_, Finish\n* C.L. Moore\n* Judith Merril")
	= class_day("#### Teaching\n\n*  _ENG 337_: _Great Gatsby_, Finish")
	= class_day("#### Grading\n\n*  _ENG 337_: Assignment #2")
	= class_day("#### Teaching\n\n*  _ENG 337_: _Invisible Man_")
	= class_day("#### Reading\n\n* _ENG 245_: \"The Female Gothic\" by Ellen Moers\n* _ENG 245_: \"Horror's Twin: Mary Shelley's Monstrous Eve\" by Sandra M. Gilbert and Susan Gubar\n* _ENG 245_: \"'My Hideous Progeny': The Lady and the Monster\" by Mary Poovey\n* _ENG 245_: \"Possessing Nature: The Female in Frankenstein\" by Anne K. Mellor")
	= class_day("**Football**\n\n#### Writing\n\n* Blog Post: ")
	
	/ Week 12
	= class_day("#### Podcasts\n\n* Unit 5 Overview\n* C.L. Moore\n* Judith Merril")
	= class_day("#### Reading\n\n*  _ENG 337_: _Invisible Man_")
	= class_day("#### Teaching\n\n*  _ENG 337_: _Invisible Man_")
	= class_day("#### Reading\n\n*  _ENG 337_: _Invisible Man_")
	= class_day("#### Teaching\n\n*  _ENG 337_: _Invisible Man_")
	= class_day(lorem.sentence)
	= class_day("**Football**\n\n#### Writing\n\n* Blog Post: ")
	
	/ Week 13
	= class_day(lorem.sentence)
	= class_day("**Veteran's Day**\n\n#### Reading\n\n*  _ENG 337_: _Invisible Man_")
	= class_day("#### Teaching\n\n*  _ENG 337_: _Invisible Man_")
	= class_day("#### Reading\n\n*  _ENG 337_: _Invisible Man_")
	= class_day("#### Teaching\n\n*  _ENG 337_: _Invisible Man_")
	= class_day(lorem.sentence)
	= class_day("**Football**\n\n#### Writing\n\n* Blog Post: ")
	
	/ Week 14
	= class_day(lorem.sentence)
	= class_day("#### Reading\n\n*  _ENG 337_: _Invisible Man_")
	= class_day("#### Teaching\n\n*  _ENG 337_: _Invisible Man_")
	= class_day("#### Reading\n\n*  _ENG 337_: _Blood Meridian_")
	= class_day("#### Teaching\n\n*  _ENG 337_: _Blood Meridian_")
	= class_day("#### Travel\n\n* Parents Arrive.")
	= class_day("#### Travel\n\n* Football with Parents.")
	
	/ Week 15
	= class_day(lorem.sentence)
	= class_day("#### Reading\n\n*  _ENG 337_: _Blood Meridian_")
	= class_day("#### Teaching\n\n*  _ENG 337_: _Blood Meridian_")
	= class_day(lorem.sentence)
	= class_day("**Thanksgiving Break**")
	= class_day("**Thanksgiving Break**")
	= class_day("**Football**\n\n#### Writing\n\n* Blog Post: ")
	
	/ Week 16
	= class_day(lorem.sentence)
	= class_day("#### Reading\n\n*  _ENG 337_: _Blood Meridian_")
	= class_day("#### Teaching\n\n*  _ENG 337_: _Blood Meridian_")
	= class_day("#### Reading\n\n*  _ENG 337_: _Blood Meridian_")
	= class_day("#### Teaching\n\n*  _ENG 337_: _Blood Meridian_")
	= class_day("#### Grading\n\n*  _ENG 337_: Assignment #3")
	= class_day("**Football**\n\n#### Writing\n\n* Blog Post: ")
	
	/ Week 17
	= class_day(lorem.sentence)
	
	
	= end_syllabus
